<p id="notice"><%= notice %></p>

<table>
    <tr>
        <th> Name </th>
        <th> Price </th>
        <th> Quantity </th>
    
    <% @brands.phones.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= p.quantity %></td>
            <td><%= link_to 'Details', phone_path(p.id) %></td>
            <td><%= link_to 'Edit', edit_phone_path(p.id) %></td>
            <td><%= link_to 'Remove', phone_path(p.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    
</table>

<%= link_to 'Enter New Phone', new_phone_path %><br>
<br>
<%= link_to 'Back', brands_path %>
